# Default ignored files
/../../../../개발/Blog_Making_Self/K8S_Study/.idea/shelf/
/../../../../개발/Blog_Making_Self/K8S_Study/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../../개발/Blog_Making_Self/K8S_Study/.idea/mavenHomeManager.xml
